body {
  text-align: center;
  height: 100vh;
}

.deset {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

footer {
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
}